<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only color="royal" (click)="nav('search')">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title *ngIf='!data'>
      <button ion-button clear (click)="nav('home')">
        EARTH Explorer
      </button>
    </ion-title>
    <ion-title *ngIf='data && (page === "block")'>
      <button ion-button clear (click)="nav('home')">
        Block {{ data.height | number }}
      </button>
    </ion-title>
    <ion-title *ngIf='data && (page === "transaction")'>
      <button ion-button clear (click)="nav('home')">
        Transaction {{ data.hash }}
      </button>
    </ion-title>
    <ion-title *ngIf='data && (page === "address")'>
      <button ion-button clear (click)="nav('home')">
        Address {{ data.address }}
      </button>
    </ion-title>
    <!-- <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="nav('scan')">
        <ion-icon name="qr-scanner"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>
