<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only color="royal" (click)="nav('search')">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>EARTH Explorer</ion-title>
    <ion-title *ngIf='block'>Block {{ block.height | number }}</ion-title>
    <ion-title *ngIf='transaction'>Transaction {{ transaction.hash }}</ion-title>
    <ion-title *ngIf='address'>Address {{ address.address }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="nav('scan')">
        <ion-icon name="qr-scanner"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
