<ion-card>
  <ion-item (click)="blockSelected($evt, data)">
    <h2>
      <ion-icon name="square"></ion-icon> Block {{ data.height | number }}
      <ion-icon float-right name="arrow-forward"></ion-icon>
    </h2>
    <p>{{ data.block_time | date:'medium' }}</p>
  </ion-item>
  <hr>

  <ion-grid>
    <ion-row>
      <ion-col padding col-6>
        <div icon-left clear small>
          <ion-icon name="logo-bitcoin" item-start></ion-icon>
          {{ (data.value / 100000000) | number }}
        </div>
      </ion-col>
      <ion-col padding col-6>
        <div  icon-left clear small color='primary'>
          <ion-icon name="card" item-start></ion-icon>
          <ion-badge item-end>{{ data.transactions }}</ion-badge>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col padding col-6>
        <div  icon-left clear small>
          <ion-icon name="checkbox" item-start></ion-icon>
          <ion-badge item-end>{{ data.confirmations}}</ion-badge>
        </div>
      </ion-col>
      <ion-col padding col-6>
        <div  icon-left clear small color='primary'>
          <ion-icon name="lock" item-start></ion-icon>
          {{ data.difficulty | number }}
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col padding col-6>
        <div  icon-left clear small>
          <ion-icon name="resize" color='primary'></ion-icon> {{ data.byte_size | number }} Bytes
        </div>
      </ion-col>
      <ion-col padding col-6 *ngIf='data.is_orphan'>
        <div  icon-left clear small color='primary'>
          <ion-icon name="barcode" color='primary'></ion-icon>Orphan
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col padding col-12>
        <div icon-left clear small>
          <ion-icon name="apps" item-start></ion-icon>
          Hash: {{ data.hash }}
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col padding col-12>
        <div icon-left clear small>
          <ion-icon name="contract" item-start></ion-icon>
          Merkle: {{ data.merkleroot }}
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf='data.miningpool_name'>
      <ion-col padding col-12>
        <div icon-left clear small>
          <ion-icon name="link" item-start></ion-icon>
          <a href="{{data.miningpool_url}}">{{ data.miningpool_name }}</a>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
