<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <button ion-button clear (click)="nav('home')">
        EARTH Explorer
      </button>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="nav('search')">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 padding-left><ion-icon name="calculator"></ion-icon> Convert</h2>
  <div class='toggle' (click)='toggleActive()'>
    <ion-grid *ngIf='this.active === "bcc"'>
      <ion-row>
        <ion-col padding-left col-12>
          <div>
            {{ usdTotal | number:'1.0-2' }} USD
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col padding-left col-12>
          <ion-icon name="shuffle"></ion-icon>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col padding-left col-12>
          <div>
            {{ bitcoinTotal | number:'1.0-8' }} BCC
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf='this.active === "usd"'>
      <ion-row>
        <ion-col padding-left col-12>
          <div icon-left clear small>
            {{ bitcoinTotal | number:'1.0-8' }} BCC
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col padding-left col-12>
          <ion-icon name="shuffle"></ion-icon>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col padding-left col-12>
          <div icon-left clear small>
            {{ usdTotal | number:'1.0-2' }} USD
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-grid id='calculator'>
    <ion-row>
      <ion-col col-4>
        <button icon-left clear small (click)='calculate(1)'>
          1
        </button>
      </ion-col>
      <ion-col col-4>
        <button icon-left clear small (click)='calculate(2)'>
          2
        </button>
      </ion-col>
      <ion-col col-4>
        <button icon-left clear small (click)='calculate(3)'>
          3
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-4>
        <button icon-left clear small (click)='calculate(4)'>
          4
        </button>
      </ion-col>
      <ion-col col-4>
        <button icon-left clear small (click)='calculate(5)'>
          5
        </button>
      </ion-col>
      <ion-col col-4>
        <button icon-left clear small (click)='calculate(6)'>
          6
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-4>
        <button icon-left clear small (click)='calculate(7)'>
          7
        </button>
      </ion-col>
      <ion-col col-4>
        <button icon-left clear small (click)='calculate(8)'>
          8
        </button>
      </ion-col>
      <ion-col col-4>
        <button icon-left clear small (click)='calculate(9)'>
          9
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-4>
        <button icon-left clear small (click)='calculate(0)'>
          0
        </button>
      </ion-col>
      <ion-col col-4>
        <button icon-left clear small (click)='calculate(".")'>
          .
        </button>
      </ion-col>
      <ion-col col-4>
        <button icon-left clear small (click)='calculate("C")'>
          C
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
