<ion-card>
  <ion-item>
    <h2>
      <ion-icon name="square"></ion-icon> Address: {{ data.address }}
    </h2>
  </ion-item>
  <hr>

  <ion-grid>
    <ion-row>
      <ion-col padding col-6>
        <div icon-left clear small>
          <ion-icon name="logo-bitcoin" item-start></ion-icon>
          {{ (data.balance / 100000000) | number }}
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col padding col-6>
        <div icon-left clear small>
          <ion-icon name="arrow-dropright-circle" item-start></ion-icon>
          {{ (data.received / 100000000) | number }}
        </div>
      </ion-col>
      <ion-col padding col-6>
        <div icon-left clear small>
          <ion-icon name="arrow-dropleft-circle" item-start></ion-icon>
          {{ (data.sent / 100000000) | number }}
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col padding col-6>
        <div icon-left clear small>
          <ion-icon name="arrow-forward" item-start></ion-icon>
          {{ (data.unconfirmed_received / 100000000) | number }}
        </div>
      </ion-col>
      <ion-col padding col-6>
        <div icon-left clear small>
          <ion-icon name="arrow-back" item-start></ion-icon>
          {{ (data.unconfirmed_sent / 100000000) | number }}
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col padding col-6>
        <div icon-left clear small>
          <ion-icon name="card" item-start></ion-icon>
          {{ data.total_transactions_in | number }}
        </div>
      </ion-col>
      <ion-col padding col-6>
        <div icon-left clear small>
          <ion-icon name="cart" item-start></ion-icon>
          {{ data.total_transactions_out | number }}
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col padding col-12>
        <div icon-left clear small>
          <ion-icon name="close" item-start></ion-icon>
          {{ data.unconfirmed_transactions | number }}
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col padding col-12>
        <div icon-left clear small>
          <ion-icon name="apps" item-start></ion-icon>
          Hash: {{ data.hash160 }}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
