<nav-header *ngIf='!address'></nav-header>
<nav-header *ngIf='address' [page]='"address"' [data]='address'></nav-header>

<ion-content>
  <div *ngIf='address'>
    <ion-card>
      <ion-item>
        <h2>
          <ion-icon name="square"></ion-icon> Address: {{ address.address }}
        </h2>
      </ion-item>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-icon name="apps" item-start></ion-icon>
            Hash160: {{ address.hash160 }}
          </ion-item>
          <ion-item>
            <ion-icon name="cash" item-start></ion-icon>
            Balance: {{ (address.balance / 100000000) | number }}
          </ion-item>
          <ion-item>
            <ion-icon name="arrow-dropright-circle" item-start></ion-icon>
            Received: {{ (address.received / 100000000) | number }}
          </ion-item>
          <ion-item>
            <ion-icon name="arrow-dropleft-circle" item-start></ion-icon>
            Sent: {{ (address.sent / 100000000) | number }}
          </ion-item>
          <ion-item>
            <ion-icon name="arrow-dropright-circle" item-start></ion-icon>
            Unconfirmed Received: {{ (address.unconfirmed_received / 100000000) | number }}
          </ion-item>
          <ion-item>
            <ion-icon name="arrow-dropleft-circle" item-start></ion-icon>
            Unconfirmed Sent: {{ (address.unconfirmed_sent / 100000000) | number }}
          </ion-item>
          <ion-item>
            <ion-icon name="card" item-start></ion-icon>
            Unconfirmed Transactions: {{ address.unconfirmed_transactions | number }}
          </ion-item>
          <ion-item>
            <ion-icon name="arrow-dropright-circle" item-start></ion-icon>
            Total Transactions_in: {{ address.total_transactions_in | number }}
          </ion-item>
          <ion-item>
            <ion-icon name="arrow-dropleft-circle" item-start></ion-icon>
            Total Transactions_out: {{ address.total_transactions_out | number }}
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <div *ngFor='let transaction of transactions'>
      <div *ngIf='transactions'>
        <ion-card>
          <ion-item>
            <h2 (click)="transactionSelected($evt, transaction)">
              <ion-icon name="card"></ion-icon> {{ transaction.hash }}
              <ion-icon float-right name="arrow-forward"></ion-icon>
            </h2>
            <p>{{ transaction.time | date:'medium' }}</p>
          </ion-item>

          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-icon name="cash" item-start></ion-icon>
                Value: {{ (transaction.estimated_value / 100000000) | number }}
              </ion-item>
              <ion-item>
                <ion-icon name="arrow-dropright-circle" item-start></ion-icon>
                Inputs:
                <ion-badge item-end>{{ transaction.inputs.length }}</ion-badge>
              </ion-item>
              <ion-item>
                <ion-icon name="arrow-dropleft-circle" item-start></ion-icon>
                Outputs:
                <ion-badge item-end>{{ transaction.outputs.length }}</ion-badge>
              </ion-item>
            </ion-list>
          </ion-card-content>

          <ion-row>
            <ion-col>
              <div padding-left icon-left clear small>
                <ion-icon name="resize" color='primary'></ion-icon> {{ transaction.size }} Bytes
              </div>
            </ion-col>
            <ion-col>
              <div *ngIf='transaction.is_coinbase' padding-left icon-left clear small color='primary'>
                <ion-icon name="barcode" color='secondary'></ion-icon>Coinbase
              </div>
            </ion-col>
          </ion-row>

        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
