<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only color="royal" (click)="nav('back')">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf='address'>
    <ion-card>
      <ion-item (click)="selected('address', address.address)">
        <h2>
          <ion-icon name="square"></ion-icon> Address: {{ address.address }}
          <ion-icon float-right name="arrow-forward"></ion-icon>
        </h2>
      </ion-item>
    </ion-card>
  </div>
  <div *ngIf='block'>
    <ion-card>
      <ion-item (click)="selected('block', block.height)">
        <h2>
          <ion-icon name="square"></ion-icon> Block {{ block.height | number }}
          <ion-icon float-right name="arrow-forward"></ion-icon>
        </h2>
        <p>{{ block.block_time | date:'medium' }}</p>
      </ion-item>
    </ion-card>
  </div>
  <div *ngIf='transaction'>
    <ion-card>
      <ion-item (click)="selected('transaction', transaction.hash)">
        <h2>
          <ion-icon name="card"></ion-icon> {{ transaction.hash }}
          <ion-icon float-right name="arrow-forward"></ion-icon>
        </h2>
        <p *ngIf='transaction.time'>{{ transaction.time | date:'medium' }}</p>
        <p *ngIf='transaction.first_seen_at'>{{ transaction.first_seen_at | date:'medium' }}</p>
      </ion-item>
    </ion-card>
  </div>
  <div *ngIf='!address && ! block && !transaction'>
    <ion-card>
      <ion-item>
        <h2>
          <ion-icon name="thumbs-down"></ion-icon> No results
        </h2>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
