<ion-card>
  <ion-item (click)="transactionSelected($evt, data)">
    <h2>
      <ion-icon name="card"></ion-icon> {{ data.hash }}
      <ion-icon *ngIf='showLink' float-right name="arrow-forward"></ion-icon>
    </h2>
    <p *ngIf='data.time'>{{ data.time | date:'medium' }}</p>
    <p *ngIf='data.first_seen_at'>{{ data.first_seen_at | date:'medium' }}</p>
  </ion-item>
  <hr>

  <ion-grid>
    <ion-row>
      <ion-col padding col-6>
        <div icon-left clear small>
          <ion-icon name="logo-bitcoin" item-start></ion-icon>
          {{ (data.estimated_value / 100000000) | number }}
        </div>
      </ion-col>
      <ion-col padding col-6>
        <div icon-left clear small color='primary'>
          <ion-icon name="checkbox" item-start></ion-icon>
          <ion-badge item-end>{{ data.confirmations}}</ion-badge>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col padding col-6>
        <div icon-left clear small>
          <ion-icon name="arrow-dropright-circle" item-start></ion-icon>
          {{ (data.total_input_value / 100000000) | number }}
        </div>
      </ion-col>
      <ion-col padding col-6>
        <div icon-left clear small color='primary'>
          <ion-icon name="arrow-dropleft-circle" item-start></ion-icon>
          {{ (data.total_output_value / 100000000) | number }}
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col padding col-6>
        <div icon-left clear small>
          <ion-icon name="arrow-up" item-start></ion-icon>
          Fee: {{ (data.total_fee / 100000000) | number }}
        </div>
      </ion-col>
      <ion-col padding col-6>
        <div icon-left clear small color='primary'>
          <ion-icon name="resize" color='primary'></ion-icon> {{ data.size | number }} Bytes
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col padding col-6>
        <div *ngIf='data.is_coinbase' icon-left clear small color='primary'>
          <ion-icon name="barcode" color='secondary'></ion-icon>Coinbase
        </div>
      </ion-col>
      <ion-col padding col-6>
        <div icon-left clear small>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr>

  <ion-list no-lines>
    <ion-list-header>
      Inputs
    </ion-list-header>
    <ion-item *ngFor="let input of data.inputs" (click)="addressSelected($evt, input.address)">
      {{ input.address === null ? 'Coinbase' : input.address }}
      <ion-icon *ngIf='input.address' name="arrow-forward" item-end></ion-icon>
    </ion-item>
    <ion-list-header>
      Outputs
    </ion-list-header>
    <ion-item *ngFor="let output of data.outputs" (click)="addressSelected($evt, output.address)">
      {{ output.address }}
      <ion-icon name="arrow-forward" item-end></ion-icon>
    </ion-item>
  </ion-list>

</ion-card>
