<ion-header>
  <ion-navbar>
    <ion-title>
      EARTH Explorer
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content *ngIf='block' padding>
  <ion-card>
    <ion-item>
      <ion-avatar item-start>
        <ion-icon name="square"></ion-icon>
      </ion-avatar>
      <h2>{{ block.height }}</h2>
      <p>{{ block.block_time }}</p>
    </ion-item>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon name="leaf" item-start></ion-icon>
          Hash: {{ block.hash }}
        </ion-item>
        <ion-item>
          <ion-icon name="leaf" item-start></ion-icon>
          Difficulty: {{ block.difficulty }}
        </ion-item>
        <ion-item>
          <ion-icon name="leaf" item-start></ion-icon>
          Merkleroot: {{ block.merkleroot }}
        </ion-item>
        <ion-item>
          <ion-icon name="leaf" item-start></ion-icon>
          Prev Block: {{ block.prev_block }}
        </ion-item>
        <ion-item>
          <ion-icon name="leaf" item-start></ion-icon>
          Next Block: {{ block.next_block }}
        </ion-item>
        <ion-item>
          <ion-icon name="leaf" item-start></ion-icon>
          Value: {{ block.value }}
        </ion-item>
        <ion-item *ngIf='block.miningpool_name'>
          <ion-icon name="leaf" item-start></ion-icon>
          Miningpool Name: {{ block.miningpool_name }}
        </ion-item>
        <ion-item *ngIf='block.miningpool_url'>
          <ion-icon name="leaf" item-start></ion-icon>
          Miningpool Url: {{ block.miningpool_url }}
        </ion-item>
        <ion-item *ngIf='block.miningpool_slug'>
          <ion-icon name="leaf" item-start></ion-icon>
          Miningpool Slug: {{ block.miningpool_slug }}
        </ion-item>
      </ion-list>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>{{ block.transactions }} Transactions</div>
          </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
            <ion-icon name="text"></ion-icon>
            <div>{{ block.confirmations }} Confirmations</div>
          </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>{{ block.is_orphan }} Orphan</div>
          </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
            <ion-icon name="text"></ion-icon>
            <div>{{ block.byte_size }} Bytes</div>
          </button>
      </ion-col>
    </ion-row>

  </ion-card>
  <div *ngFor='let transaction of transactions' (click)="transactionTapped($evt, transaction)">
    <div *ngIf='transactions'>
      <ion-card>
        <ion-item>
          <ion-avatar item-start>
            <ion-icon name="square"></ion-icon>
          </ion-avatar>
          <h2>{{ transaction.hash }}</h2>
          <p>{{ transaction.time }}</p>
        </ion-item>

        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-icon name="leaf" item-start></ion-icon>
              Hash: {{ block.hash }}
            </ion-item>
            <ion-item>
              <ion-icon name="leaf" item-start></ion-icon>
              Difficulty: {{ block.difficulty }}
            </ion-item>
            <ion-item>
              <ion-icon name="leaf" item-start></ion-icon>
              Merkleroot: {{ block.merkleroot }}
            </ion-item>
            <ion-item>
              <ion-icon name="leaf" item-start></ion-icon>
              Prev Block: {{ block.prev_block }}
            </ion-item>
            <ion-item>
              <ion-icon name="leaf" item-start></ion-icon>
              Next Block: {{ block.next_block }}
            </ion-item>
            <ion-item>
              <ion-icon name="leaf" item-start></ion-icon>
              Value: {{ block.value }}
            </ion-item>
            <ion-item *ngIf='block.miningpool_name'>
              <ion-icon name="leaf" item-start></ion-icon>
              Miningpool Name: {{ block.miningpool_name }}
            </ion-item>
            <ion-item *ngIf='block.miningpool_url'>
              <ion-icon name="leaf" item-start></ion-icon>
              Miningpool Url: {{ block.miningpool_url }}
            </ion-item>
            <ion-item *ngIf='block.miningpool_slug'>
              <ion-icon name="leaf" item-start></ion-icon>
              Miningpool Slug: {{ block.miningpool_slug }}
            </ion-item>
          </ion-list>
        </ion-card-content>

        <ion-row>
          <ion-col>
            <button ion-button icon-left clear small>
                <ion-icon name="thumbs-up"></ion-icon>
                <div>{{ block.transactions }} Transactions</div>
              </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-left clear small>
                <ion-icon name="text"></ion-icon>
                <div>{{ block.confirmations }} Confirmations</div>
              </button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <button ion-button icon-left clear small>
                <ion-icon name="thumbs-up"></ion-icon>
                <div>{{ block.is_orphan }} Orphan</div>
              </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-left clear small>
                <ion-icon name="text"></ion-icon>
                <div>{{ block.byte_size }} Bytes</div>
              </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
  </div>
</ion-content>
